
@font-face{
  src: url(./Fonts/hero.ttf);
  font-family: hero;
}

.App{
  display: flex;
  position: relative;
  font-family: hero,sans-serif;
}


.boardSettings{
  position: absolute;
  background-color: saddlebrown;
  height: 100vh;
  width: 200px;
  left: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.player{
  display: flex;
  width: 50vw;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.player1{

  background-image: url('./images/bg8.png');
}


.active{
  background-color: blue;
}



